.user-card {
    margin: 0 auto;
}

.user-photo {
    overflow: hidden;
}

.name-text {
    font-size: 1.6em;
    word-wrap: break-word;
    margin-bottom:5px !important;
}

.school-text {
    font-size: .8em;
}

.bio-text {
    margin-top: 5px !important;
    line-height: 1.2;
}

.compat-percent {
    background-color: #28a745ab;
    padding: 5px 10px;
    border-radius:5px;
    color: #fff;
    position: absolute;
    bottom:10px;
    right: 10px;
    z-index:99;
}

.roomie-btn {
    position: relative !important;
    display: block;
    width: 170px !important;
    height: 40px;
    margin: 0 auto !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-top: 20px;
}

.remove-btn {
    width: 85px;
    margin-right:10px;
    margin-left: 12px;
}

.roomie-btn:hover, .remove-btn:hover {
    -webkit-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.75);
}

.askroomie-btn:hover {
    background-color: #ffc107 !important;
}

.remove-btn:hover {
    background-color: #dc3545 !important;
    color: white !important;
}

.actual-img {
    object-fit: cover;
    position: relative;
    height: 250px;
}