/* * {
    box-sizing: border-box;
}

.PotentialRoommateCard {
    margin: 5px;
    width:300px;
}

.card-img-top {
    width: 200px;
    height: 250px;
} */

.user-photo {
    overflow: hidden;
}

.compat-percent {
    color: #28a745;
}

.roomie-btn {
    position: absolute;
    bottom: 20px;
    margin-top: 10px;
}

.actual-img {
    object-fit: cover;
}