.App {

}

.navbar-logo {
  max-height: 50px;
}

.btn {
  border-radius: 25px !important;
  padding: 5px 10px !important;
  width: 100px;
}

.header-text {
  font-family: 'Arvo', serif;
  font-weight: 700;
  font-size: 3em;
}

.body-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  line-height: 1.8;
}


