html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

p {
  padding: 0 !important;
  margin: 0 !important;
}

.container-fluid {
  width: 100vw;
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin: 0 auto !important;
  overflow:hidden;
}

.col-12 {
  padding: 0 !important;
}

.header-text {
  font-family: 'Arvo', serif;
  font-weight: 700;
  font-size: 3em;
}

.header2-text {
  font-family: 'Arvo', serif;
  font-weight: 700;
  font-size: 2em;
  color: #616161;
}

.body-text {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 1em;
  line-height: 1.8;
}

.form-header {
  margin-top: 50px;
  margin-bottom: 30px;
}

.form-header-top {
  margin-top: 30px !important;
}

/* The Standard Breakpoints. Working with fluid images. */
@media all and (max-width: 1690px) {

}
@media all and (max-width: 1280px) {

}
@media all and (max-width: 980px) {

}
@media all and (max-width: 736px) {

}
@media all and (max-width: 480px) {
}