html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

p {
  padding: 0 !important;
  margin: 0 !important;
}

.container-fluid {
  width: 100vw;
  max-width: 1366px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0;
  margin-right: 0;
  overflow:hidden;
}

.header-text {
  font-family: 'Arvo', serif;
  font-weight: 700;
  font-size: 3em;
}

.body-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  line-height: 1.8;
}



