/* * {
    box-sizing: border-box;
}

.PotentialRoommateCard {
    margin: 5px;
    width:300px;
}

.card-img-top {
    width: 100%;
    max-width: 200px;
} */

#trans-bg {
    background: transparent;
}

.arrow {
    position: relative;
    border-radius:50%;
    /* margin-top: 100px; */
    /* margin-right:50px; */
    z-index: 99;
}

.arrow:hover {
    width: 47px;
}

.back-arrow {
    margin-left: -50px;
}