/* * {
    box-sizing: inherit;
} */
.is-active {
    background-color: yellow
}
.user-card {
    width: 300px !important;
    height: 480px;
    margin-bottom: 20px;
    -webkit-box-shadow: 3px 4px 18px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 18px -2px rgba(0,0,0,0.75);
    box-shadow: 3px 4px 18px -2px rgba(0,0,0,0.75);
}

.user-photo {
    overflow: hidden;
    width: 299px;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.slick-list {
    width: 100%;
    height: 495px;
}

.slick-active, .slick-cloned {
    margin-bottom: 50px;
    z-index: -1;
}

.dash-header {
    margin-bottom: 30px;
}

.dash-link {
    text-align: center;
    color: #6c757d !important;
    font-size: 2em;
    margin-left: 25px;
}

.dash-link:hover {
    color: #28a745 !important;
}

.dash-link:active {
    color: #28a745 !important;
}

.dash-badge {
    font-size: 1.5em !important;
    margin-right: 25px;
}

@media (min-width: 1440px) {
    .slick-list {
        height: 600px;
        padding-top: 0px;
    }

    .slick-active, .slick-cloned {
        margin-left: 0px !important;
        margin-right: 0px !important;
        z-index: -1;
    }
}

@media (min-width: 1680px) {
    .user-card {
        width: 350px !important;
        height: 520px;
    }

    .user-photo {
        overflow: hidden;
        width: 349px;
    }

    .slick-list {
        height: 550px;
    }
    
    .slick-active, .slick-cloned {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}