/* * {
    box-sizing: inherit;
} */

.user-card {
    width: 300px !important;
    height: 480px;
    margin-left: 50px !important;
    margin-bottom: 20px;
    -webkit-box-shadow: 3px 4px 18px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 18px -2px rgba(0,0,0,0.75);
    box-shadow: 3px 4px 18px -2px rgba(0,0,0,0.75);
}

.user-photo {
    overflow: hidden;
    width: 100%;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.slick-list {
    width: 100%;
    height: 495px;
    padding-top: 50px;
}

.slick-active, .slick-cloned {
    margin-bottom: 50px;
    margin-left: -10px;
    margin-right: -10px;
    z-index: -1;
}

/* .slick-arrow {
    height: 520px;
    width: 60px;
    background-color: #fff;
    z-index:99;
} */

/* .slick-arrow:hover {
    background-color: #ebebeb;
} */