.aptDiv-title {
    color: #6c757d !important;
    font-size: 2em !important;
    display: inline-block;
    margin-left: 100px;
    margin-top: 10px;
}

.apt-slider {
    height: 380px !important;
    margin-bottom: 50px;
}