/* * {
    box-sizing: border-box;
} */

.user-card {
    margin: 0 auto;
}

.user-photo {
    overflow: hidden;
}

.name-text {
    font-size: 1.6em;
    word-wrap: break-word;
}

.school-text {
    font-size: .8em;
}

.compat-percent {
    background-color: #28a745ab;
    padding: 5px 10px;
    border-radius:5px;
    color: #fff;
    position: absolute;
    bottom:10px;
    right: 10px;
    z-index:99;
}

.roomie-btn {
    position: relative !important;
    display: block;
    width: 170px !important;
    height: 40px;
    margin: 0 auto !important;
    margin-top: 20px;
}

.roomie-btn:hover {
    -webkit-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.75);
}

.actual-img {
    object-fit: cover;
    position: relative;
    height: 250px;
}