.matched-div {
    height: 450px;
}

.dashback-btn {
    width: 250px !important;
    margin-right: 15px !important;
    margin-top: 10px;
}

.matched-row {
    padding-top: 30px !important;
    margin-bottom: 50px !important;
}

.user-card {
    margin-bottom: 20px;
    -webkit-box-shadow: 3px 4px 18px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 18px -2px rgba(0,0,0,0.75);
    box-shadow: 3px 4px 18px -2px rgba(0,0,0,0.75);
}

.matched-body, .you-body {
    height: 200px !important;
}

.matched-img, .you-img {
    height: 350px !important;
    object-fit: cover;
    overflow: hidden;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

/* .matched-img {
    width: 100.1% !important;
} */

.matched-phone {
    position: absolute;
    top: 30px;
    left: 30px;
    background-color: #28a745ab;
    padding: 8px 15px;
    border-radius: 5px;
    color: #fff;
    z-index: 99;
}

.matched-email {
    position: absolute;
    top: 80px;
    left: 30px;
    background-color: #28a745ab;
    padding: 8px 15px;
    border-radius: 5px;
    color: #fff;
    z-index: 99;
}

.liked-header {
    text-align: center;
}

.both-apts {
    margin: 0 !important;
    padding: 15px !important;
    max-height: 400px;
}

@media (min-width: 1440px) {

}

@media (min-width: 1680px) {

 
}
