.user-card {
    margin: 0 auto;
}

.apt-card {
    height: 350px;
}

.user-photo {
    overflow: hidden;
}

.name-text {
    font-size: 1.6em;
    word-wrap: break-word;
}

.compat-percent {
    background-color: #28a745ab;
    padding: 5px 10px;
    border-radius:5px;
    color: #fff;
    position: absolute;
    bottom:10px;
    right: 10px;
    z-index:99;
}

.actual-img {
    object-fit: cover;
    position: relative;
    height: 250px;
}