.navbar {
    padding-left: 50px !important;
    padding-right: 50px !important;
    width: 100%;
    height: 100px;
    position: relative !important;
    background-color: transparent !important;
    z-index: 99;
    margin: 0 auto !important;
    margin-top: 50px;
    margin-bottom: 20px;
}

.navbar-logo {
    max-height: 50px;
}

.btn {
    border-radius: 25px !important;
    padding: 5px 10px !important;
    width: 100px;
}